@model Intranet.Models.Stock.CabecStock

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    td.details-control {
        background: url('/resources/details_open.png') no-repeat center center;
        cursor: pointer;
    }
    tr.shown td.details-control {
        background: url('/resources/details_close.png') no-repeat center center;
    }

    td.edit-control {
        background: url('/resources/details_open.png') no-repeat center center;
        cursor: pointer;
    }
    tr.shown td.edit-control {
        background: url('/resources/details_close.png') no-repeat center center;
    }
</style>

@section Scripts
{
    <script src="~/js/Ferramentas/Index.js"></script>
}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2"> <span class="fa fa-wrench"></span> Ferramentas</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">

                <a class="btn btn-sm btn-outline-secondary" role="button" asp-action="Saida" asp-controller="Ferramentas">
                    <span class="fa fa-plus"></span>
                    Saida
                </a>

                <a class="btn btn-sm btn-outline-secondary" role="button" asp-action="Entrada" asp-controller="Ferramentas">
                    <span class="fa fa-minus"></span>
                    Devolução
                </a>

                <a class="btn btn-sm btn-outline-secondary" role="button" asp-action="Edit" asp-controller="Ferramentas">
                    <span class="fa fa-edit"></span>
                    Editar
                </a>
            </div>
            @*<button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
                This week
            </button>*@
        </div>
    </div>

    <h2 class="text-info">
        Pendentes de devolução

    </h2>

    <table id="ferramentasTable" style="width:100%!important" class="table table-hover table-sm">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Data</th>
                <th>Funcionário</th>
                <th>Nome</th>
                <th>Notas</th>
                <th></th>

            </tr>
        </thead>

    </table>