@model Intranet.Models.Stock.CabecStock

@{
    ViewData["Title"] = "Entrada";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {
            var pressed = false;
            var chars = [];

            $(window).keypress(function (e) {

                if (e.which >= 48 && e.which <= 57) {
                    chars.push(String.fromCharCode(e.which));
                }

                //console.log(e.which + ":" + chars.join("|"));

                if (pressed == false) {
                    setTimeout(function () {
                        if (chars.length >= 10) {
                            var barcode = chars.join("");
                            console.log("Barcode Scanned: " + barcode);
                            // assign value to some input (or do whatever you want)
                            $("#MainContent_txtInput").val(barcode);

                            //var selected = $('#ListBoxfuncionario').find('option:selected').text();
                            var selected = $('#MainContent_ListBoxfuncionario').find('option:selected').val();;

                            if (selected == "") {
                                getFuncionarioCodigoBarras();
                            } else {
                                var btn = document.getElementById("MainContent_NewFerramentaBt");
                                if (btn) btn.click();
                            }

                        } else {

                        }
                        chars = [];
                        pressed = false;
                    }, 500);
                }
                pressed = true;
            });
        });

        $(document).ready(function () {

            GetListaArtigos();

            GetListaFuncionarios();

            GetListaProjeto();
            
        });

        function OnSuccess(response) {
            console.log(response.d);
        }


    </script>

    <script src="~/js/Ferramentas/Ferramentas.js"></script>
    <script src="~/js/Ferramentas/Saida.js"></script>

}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2"> <span class="fa fa-wrench"></span> Saida de Ferramentas</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                
                <button id="btGravar_New" class="btn btn-sm btn-outline-success" onclick="funtion:gravar(false,'@Model.Documento.documento')">
                    <span class="fa fa-save"></span> Gravar
                </button>

                <button id="btGravar" class="btn btn-sm btn-outline-success" onclick="funtion:gravar(true,'@Model.Documento.documento')">
                    <span class="fa fa-floppy-o"></span> Gravar e Sair
                </button>

                <button id="btImprir" class="btn btn-sm btn-outline-primary" hidden> 
                    <span class="fa fa-print"></span> Imprimir
                </button>

                <button id="btremover" class="btn btn-sm btn-outline-danger" onclick="funtion:Sair('@Model.Documento.descricao')">
                    <span class="fa fa-remove"></span> Cancelar
                </button>
            </div>
        </div>
    </div>


<div class="btn-group" role="group" aria-label="Basic example" style="padding-bottom:10px">
    

</div>

<form class="form-horizontal" role="form">

    <div class="card">
        <div class="card-header">
            <strong>Documento:</strong> @Model.Documento.descricao

            <span class="float-right"> <strong>Estado:</strong> Em Gravação</span>
        </div>

        <div class="card-body">

            <div class="row">
                <div class="col-md-12">

                    <div class="row">
                        <label class="control-label " for="funcionario">Funcionário:</label>

                        <div class="col-md-4">
                            <select id="ListBoxfuncionario" class="selectpicker form-control" data-live-search="true"></select>
                        </div>


                        <label class="control-label " for="data">Data:</label>

                        <div class="input-group date col-md-5" id="dtData" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input" data-target="#dtData" />
                            <div class="input-group-append" data-target="#dtData" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>

                    </div>
                    <div class="row" style="padding-top:10px">
                        
                        <label class="control-label " for="nrDocExterno">Nr. Guia:</label>
                        <div class="col-md-4">


                            <input asp-for="nrDocExterno" class="form-control" />

                        </div>

                        <a ID="AddNewFerramentaBt" class="btn btn-default" data-toggle="modal" data-target="#ferramentaModal">
                                <span class="fa fa-plus"></span> Ferramenta
                            </a>

                    </div>
                    
                </div>

                    


                </div>

                <div class="container-fluid linhasDoc">
                    <table id="tableFerramentas" class="table table-hover table-sm col-sm-10" style="padding-top:20px; width:100%!important">
                        <thead class="thead-dark">
                            <tr>
                                <th>Ferramenta</th>
                                <th>Descrição</th>
                                <th>Quant.</th>
                                <th>Notas</th>
                                <th>Centro de Negocio</th>
                                <th>Centro de Negocio</th>
                                <th>Projecto</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody></tbody>
                        <tfoot>

                        </tfoot>
                    </table>
                </div>



            </div>

    </div>

</form>

<partial name="_Linha" />