@model Intranet.Models.Stock.CabecStock

@{
    ViewData["Title"] = "Entrada";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts
{
    
    <script src="~/js/Ferramentas/Entrada.js"></script>

    <script src="~/js/Ferramentas/Ferramentas.js"></script>
   
}

<div class="btn-group" role="group" aria-label="Basic example" style="padding-bottom:10px">
    <button ID="btGravar_New" class="btn btn-outline-success" OnClick="funtion:gravar(false,'@Model.Documento.documento')">
        <span class="fa fa-save"></span> Gravar
    </button>

    <button ID="btGravar" class="btn btn-outline-success" OnClick="funtion:gravar(true,'@Model.Documento.documento')">
        <span class="fa fa-floppy-o"></span> Gravar e Sair
    </button>

    <button ID="btImprir" class="btn btn-outline-primary">
        <span class="fa fa-print"></span> Imprimir
    </button>

    <button ID="btremover" class="btn btn-outline-danger" asp-action="Index" asp-controller="Ferramentas">
        <span class="fa fa-remove"></span> Cancelar
    </button>

</div>

<form class="form-horizontal" role="form">
    <div class="card">
        <div class="card-header">
            <strong>Documento:</strong> @Model.Documento.descricao

            <span class="float-right"> <strong>Estado:</strong> Em Gravação</span>
        </div>

        <div class="card-body">

            <div class="row">

                <label class="control-label" for="funcionario">Funcionario:</label>

                <div class="col-sm-4" style="padding-left: 0px">
                    <select id="ListBoxfuncionario" class="selectpicker form-control" data-width="auto" data-live-search="true"></select>
                </div>

                <label class="control-label" for="data">Data:</label>

                <div class="input-group date col-sm-4" id="dtData" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input" data-target="#dtData" />
                    <div class="input-group-append" data-target="#dtData" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>

            </div>

            @*<div class="form-group">
                <div class="col-sm-6">
                    <a ID="NewFerramentaBt" class="btn btn-default" data-toggle="modal" data-target="#ferramentaModal">
                        <span class="fa fa-barcode"></span>
                    </a>

                    <a ID="AddNewFerramentaBt" class="btn btn-default" Text="+ Ferramenta" OnClick="javascript:AddNewFerramentaBt_Click()">
                        <span class="fa fa-plus"></span> Ferramenta
                    </a>

                    <input id="txtInput" class="form-control" Text="" />
                </div>

            </div>*@


            <div class="row linhasDoc" style="padding-top:20px">

                <table id="tableEntradaFerramentas" style="width:100%!important" class="table table-hover table-sm">
                    <thead class="thead-dark">
                       
                    </thead>

                    <tbody></tbody>
                    <tfoot>

                    </tfoot>
                </table>
            </div>
        </div>

    </div>

</form>