<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path=".">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath=".\Intranet.exe" arguments=".\Intranet.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="InProcess" />
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: D35986AE-D37C-4652-A91A-DAB7A8C0D2EA-->