<!-- Modal -->
<div class="modal fade " id="loadMe" tabindex="-1" role="dialog" aria-labelledby="loadMeLabel">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="loader"></div>
                <div clas="loader-txt">
                    <p>
                        Aguarde Porfavor o Processamento da Informação.
                        <br>
                        <br>

                        @*<small>We are addicted to Bootstrap... #love</small></p>*@
                </div>
            </div>
        </div>
    </div>
</div>